.left{
   background-color:red ;
   width: 100px;
   height: 100px;
   margin-left:0px
}
.right{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 15px 0px auto auto;
}
.center{
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 15px auto auto auto;
    
    
    }
    

    